body{
    background-color:#a15dc5;
    font-family: "Courier New", Courier, monospace;
}

.container{
    display:flex;
}

.sidebar{
    width:200px;
    padding:20px;
    background-color:#29c44a;
}

.content{
    padding:20px;
    max-width:700px;
}

a{
    text-decoration:none;
    color:rgb(226, 250, 11);
}

a:hover{
    text-decoration:underline;
    color: rgb(255, 255, 255);
}


.center-top {
    text-align: center;
}
